{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}i-Comic{% endblock %}
{% block content %}
<div class="row mb-3">
  <div class="col-12 col-sm-9 hand-drawn-border comic-strip-container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h2>{{ comic_strip.title }}</h2>
        <h3>{{ comic_strip.author.first_name }} {{ comic_strip.author.last_name }}</h3>
      </div>
      <div class="col-12 col-md-6 text-center">
        <hr class="d-block d-md-none">
        <h3 class="text-left">{{ comic_strip.description }}</h3>
        <hr class="d-block d-md-none">
        <a class="btn brand-button" href="{% url 'comic_strip_frame_add' %}" role="button">Add Frame</a>
      </div>
    </div>
  </div>
</div>
{% if comic_strip_frames %}
<div class="row comic-strip-frames hand-drawn-border">
  {% for frame in comic_strip_frames %}
    <div class="col-12 col-sm-6 col-md-4 single-frame">
      <img src="{{ frame.image.url }}">
      <p class="narrative">{{ frame.narrative }}</p>
    </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}
