{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}i-Comic{% endblock %}
{% block content %}
{% for comic_strip in comic_strips %}
  <div class="row mb-3">
    <div class="col-12 col-sm-9 hand-drawn-border comic-strip-container">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2>{{ comic_strip.title }}</h2>
          <h3>{{ comic_strip.author.first_name }} {{ comic_strip.author.last_name }}</h3>
        </div>
        <div class="col-12 col-md-6 text-center">
          <hr class="d-block d-md-none">
          <h3 class="text-left">{{ comic_strip.description }}</h3>
          <hr class="d-block d-md-none">
          <a class="btn brand-button" href="{% url 'comic_strip' comic_strip.id %}" role="button">View</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% if comic_strips.paginator.num_pages > 1 %}
<div class="row mb-3">
  <div class="col-12 col-sm-9">
    <div class="pagination justify-content-center mt-2">
      <span class="step-links">
        {% if comic_strips.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ comic_strips.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ comic_strips.number }} of {{ comic_strips.paginator.num_pages }}.
        </span>

        {% if comic_strips.has_next %}
            <a href="?page={{ comic_strips.next_page_number }}">next</a>
            <a href="?page={{ comic_strips.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
