{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}i-Comic - View Ticket{% endblock %}
{% block content %}
<div class="row mx-1">
  <div class="col-12 col-md-9 hand-drawn-border comic-strip-container">
    <div class="row">
      <h2 class="col-12 col-lg-9">{{ ticket.title }}</h2>
      <span class="text-right col-12 col-lg-3 p-0">
        <span class="badge badge-pill badge-dark ticket-status">{{ ticket.status }}</span>
      </span>
    </div>
  </div>
</div>
<div class="row mb-3 mx-1">
  <div class="col-12 col-md-9 mb-3 ticket-body hand-drawn-border comic-strip-container ">
    <h3>Ticket Type: {{ ticket.type }}</h3>
    <h5>Date Raised: {{ ticket.date_raised|date:'jS M Y' }}</h4>
    <h5>Date Modified: {{ ticket.date_last_saved|date:'jS M Y' }}</h4>
    <p>{{ ticket.description }}</p>
    <h4>Requester: {{ ticket.requester.first_name }} {{ ticket.requester.last_name }}</h4>
    <div class="row">
      <div class="col-12 text-right">
        {% if request.user.is_staff %}
          <a href="{% url 'ticket_edit' ticket.id %}" class="ticket-list-link"><i class="far fa-edit ticket-list-icon"></i></a>
        {% endif %}
        <a href="{% url 'comment_add' ticket.id %}" class="ticket-list-link"><i class="fas fa-comment ticket-list-icon">
          {% if ticket.ticketcomment_set.all|length > 0 %}
          <span class="comment-count">{{ ticket.ticketcomment_set.all|length }}</span>
          {% endif %}
        </i></a>
        <a href="{% url 'ticket_upvote' ticket.id %}" class="ticket-list-link"><i class="fas fa-arrow-up ticket-list-icon">
          {% if ticket.upvotes and ticket.upvotes > 0 %}
          <span class="comment-count">{{ ticket.upvotes }}</span>
          {% endif %}
        </i></a>
        <a href="{% url 'ticket_listing' %}" class="ticket-list-link"><i class="fas fa-chevron-left ticket-list-icon"></i></a>
      </div>
    </div>
    {% if ticket.solution %}
    <div class="row ticket-solution">
      <div class="col-12">
        <h4>Developer Comments: {{ ticket.solution }}</h4>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="col-12 col-md-9 col-xl-3">
    {% if ticket_comments %}
      <h3>Comments...</h3>
      {% for comment in ticket_comments %}
        <p>{{ comment.comment }}</p>
        <h6 class="text-right">{{ comment.author.first_name }} {{ comment.author.last_name }}</h6>
        <h6 class="text-right">{{ comment.date_comment|date:'jS M Y' }}</h6>
      {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock %}
