{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}i-Comic - Login{% endblock %}
{% block content %}
<div class="row mb-3">
  <div class="col-12 col-sm-9 text-center">
    <h2>Login</h2>
    <h4>Don't have an account? You can <a href="{% url 'register' %}">register here</a></h4>
    <form method="POST" id="login-form" action="{% url 'login' %}">
      {{ login_form | as_bootstrap }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.GET.next }}"/>
      <button type="submit" class="brand-button button-accent">Login</button>
    </form>
  </div>
</div>
{% endblock %}
