{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}i-Comic - Cart{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12 col-md-6">
    <h1>Your Cart</h1>
  </div>
</div>
<div class="row">
  <div class="col-12 col-sm-9 hand-drawn-border comic-strip-container">
    {% if cart or cart_upvotes %}
    {% if cart %}
      <h2>New Features</h2>
      <ul class="list-group">
        {% for item in cart %}
          <li class="list-group-item d-flex justify-content-between align-items-center row {% if forloop.counter|divisibleby:'2' %}light-row{% else %}light-alt-row{% endif %}">
            <h4>{{ item.title }} - <i class="fas fa-pound-sign"></i> {{ item.feature_cost }}</h4>
            <form class="form-inline" method="POST" action = "{% url 'adjust_cart' item.title %}">
              {% csrf_token %}
              <div class="form-group">
                <i class="fas fa-pound-sign"></i>
                <input name="cost" type="number" step="0.01" class="form-control" value="{{ item.feature_cost }}" placeholder="" min="0" max="99">
              </div>
              <button type="submit" class="btn btn-outline-dark">
                <i class="far fa-edit"></i>Adjust
              </button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if cart_upvotes %}
      <h2>Upvoted Features</h2>
      <ul class="list-group">
        {% for item in cart_upvotes %}
          <li class="list-group-item d-flex justify-content-between align-items-center row {% if forloop.counter|divisibleby:'2' %}light-row{% else %}light-alt-row{% endif %}">
            <h4>{{ item.title }} - <i class="fas fa-pound-sign"></i> {{ item.cost }}</h4>
            <form class="form-inline" method="POST" action = "{% url 'adjust_upvote_cart' item.id %}">
              {% csrf_token %}
              <div class="form-group">
                <i class="fas fa-pound-sign"></i>
                <input name="cost" type="number" step="0.01" class="form-control" value="{{ item.cost }}" placeholder="" min="0" max="99">
              </div>
              <button type="submit" class="btn btn-outline-dark">
                <i class="far fa-edit"></i>Adjust
              </button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="row justify-content-center cart-checkout">
      <div class="col-5 text-center">
        <h3>Total: <i class="fas fa-pound-sign"></i> {{ total|floatformat:2 }}</h3>
        <a href="#" class="btn btn-outline-dark brand-button" role="button">Checkout</a>
      </div>
    </div>
    {% else %}
    <h3>Your cart is empty</h3>
    {% endif %}
  </div>
</div>
{% endblock %}
