a {
  color: $main-brand-colour;
  transition: all .7s ease-in-out;
  &:hover {
    color: $dark-shade;
    text-decoration: none;
  }
}

.brand-button {
  border-radius: 30px;
  background-color: $main-brand-colour;
  color: $dark-shade;
  border: 1px solid $main-brand-colour;
  transition: all .7s ease-in-out;
  min-width: 150px;

  &:hover {
    cursor: pointer;
    color: $main-brand-colour;
    background-color: $light-shade;
  }
}

.button-accent {
  background-color: $accent-colour;
  color: $dark-shade;
  border: 1px solid $accent-colour;
  &:hover {
    border: 1px solid $main-brand-colour;
  }
}

.ticket-status {
  font-size: 1rem;
  line-height: 1rem;
  max-height: 2rem;
  padding-top: 8px;
}

.ticket-list-icon {
  background-color: $accent-colour;
  color: $dark-shade;
  border: 1px solid $accent-colour;
  padding: 10px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  line-height: 20px;
  text-align: center;
  transition: all .7s ease-in-out;
  .comment-count {
    position: absolute;
    top: -5px;
    &:hover {
      cursor: default;
    }
  }
}

.ticket-list-link {
  color: transparent;
  background-color: transparent;
  &:hover {
    color: transparent;
    background-color: transparent;
  }

  .ticket-list-icon {
    background-color: $main-brand-colour;
    &:hover {
      background-color: $light-shade;
      color: $dark-shade;
      border: 1px solid $dark-shade;
    }
  }
}

.ticket-body {
  border-top-width: 0 !important;
}

.ticket-solution {
  border-top: 2px solid $accent-colour;
  margin-top: 1rem;
  padding-top: 1rem;
}

.nav-menu {
  position: absolute;
  right: 20px;
  top:10px;
  z-index: 999;

  .brand-button {
    min-width: 200px;
    font-size: 1.2rem;
  }

  .home-menu-icon {
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: $dark-shade;
    color: $light-shade;
    border: 1px solid $dark-shade;
    padding: 10px;
    border-radius: 20px;
    transition: all .7s ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: $light-shade;
      color: $dark-shade;
      border: 1px solid $dark-shade;
    }
  }

  .home-menu {
    list-style-type: none;
    margin: 2rem 1.1rem 0 0;
    padding: 0;
    text-align: right;
    li {
      display: block;
    }
    .home-menu-item {
      margin-top: 1rem;
      transition: all .7s ease-in-out;
      height: 40px;
      border-radius: 20px;
      &:hover {
        background-color: $accent-colour;
      }
      .home-menu-link {
        display:block;
        text-decoration: none;
      }
      .home-menu-text {
        color: $dark-shade;
        transition: all .7s ease-in-out;
        margin-right: 1rem;
      }
      .home-menu-text-show {
        opacity: 1;
      }
      .home-menu-text-hide {
        opacity: 0;
      }
    }
    .home-menu-item-icon {
      background-color: $accent-colour;
      color: $dark-shade;
      padding: 10px;
      border-radius: 20px;
      width: 40px;
      height: 40px;
      line-height: 20px;
      text-align: center;
    }
  }
}

.dark-row {
  background-color: $dark-shade;
  color: $light-shade;
}

.light-row {
  background-color: $light-shade;
  color: $dark-shade;
}

.light-alt-row {
  background-color: darken($light-shade, 5%);
  color: $dark-shade;
}

.hand-drawn-border {
  border: solid 3px $dark-shade;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.comic-strip-frames {
  border-width: 2px;
  padding: 0 15px;
  .single-frame {
    margin-top: 1rem;
    background-color: $light-shade;
    padding: 15px;
    .narrative {
      font-size: 1.1rem;
      text-align: center;
      background-color: $light-shade;
      color: $dark-shade;
      margin-bottom: 0;
    }
  }
  img {
    width: 100%;
  }
}

#register-form ul {
  list-style-type: none;
}

.top-tickets {
  &.features {
    .list-group-item:first-child {
      border-top-right-radius: 0;
    }
    .list-group-item:last-child {
      border-bottom-right-radius: 0;
    }
    .tab-content>.active, .list-group-item.active {
      background: lighten($main-brand-colour, 20%);
      border-color: transparent;
      color: $dark-shade;
    }
  }

  &.bugs {
    .list-group-item:first-child {
      border-top-left-radius: 0;
    }
    .list-group-item:last-child {
      border-bottom-left-radius: 0;
    }
    .tab-content>.active, .list-group-item.active {
      background: lighten($accent-colour, 20%);
      border-color: transparent;
      color: $dark-shade;
    }
  }

  .top-tickets-right {
    position: relative;
    .tab-content{
      position: absolute;
      height: 100%;
      width: 100%;
      .tab-pane {
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }
  }
}
