{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Arsenal|Kalam|Permanent+Marker" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <link rel="stylesheet" href="{% static 'style/main.min.css' %}">
  <title>{% block page_title %}{% endblock %}</title>
</head>
<body>
  <div class="nav-menu">
    <a class="btn brand-button" href="{% url 'index' %}" role="button">i-Comic</a>
    <i class="fas fa-bars home-menu-icon" id="home-toggle-menu"></i>
    <ul class="home-menu" id="home-toggle-dropdown">
      {% if user.is_authenticated %}
      <li class="home-menu-item">
        <a class="home-menu-link" href="{% url 'logout' %}">
          <span class="home-menu-text home-menu-text-hide">Sign Out</span>
          <i class="fas fa-sign-out-alt home-menu-item-icon"></i>
        </a>
      </li>
      {% else %}
      <li class="home-menu-item">
        <a class="home-menu-link" href="{% url 'login' %}">
          <span class="home-menu-text home-menu-text-hide">Sign In</span>
          <i class="fas fa-sign-in-alt home-menu-item-icon"></i>
        </a>
      </li>
      <li class="home-menu-item">
        <a class="home-menu-link" href="{% url 'register' %}">
          <span class="home-menu-text home-menu-text-hide">Register</span>
          <i class="fas fa-user-plus home-menu-item-icon"></i>
        </a>
      </li>
      {% endif %}
      <li class="home-menu-item">
        <a class="home-menu-link" href="{% url 'listing' %}">
          <span class="home-menu-text home-menu-text-hide">Comic Strips</span>
          <i class="fas fa-book-open home-menu-item-icon"></i>
        </a>
      </li>
      <li class="home-menu-item">
        <a class="home-menu-link" href="{% url 'comic_strip_add' %}">
          <span class="home-menu-text home-menu-text-hide">Add Comic Strip</span>
          <i class="fas fa-plus home-menu-item-icon"></i>
        </a>
      </li>
      <li class="home-menu-item">
        <a class="home-menu-link" href="{% url 'ticket_listing' %}">
          <span class="home-menu-text home-menu-text-hide">Tickets</span>
          <i class="fas fa-ticket-alt home-menu-item-icon"></i>
        </a>
      </li>
      <li class="home-menu-item">
        <a class="home-menu-link" href="{% url 'productivity' %}">
          <span class="home-menu-text home-menu-text-hide">Productivity</span>
          <i class="fas fa-chart-line home-menu-item-icon"></i>
        </a>
      </li>
      <li class="home-menu-item">
        <a class="home-menu-link" href="{% url 'forum' %}">
          <span class="home-menu-text home-menu-text-hide">Forum</span>
          <i class="fas fa-users home-menu-item-icon"></i>
        </a>
      </li>
      <li class="home-menu-item">
        <a class="home-menu-link" href="{% url 'view_cart' %}">
          <span class="home-menu-text home-menu-text-hide">Cart</span>
          <i class="fas fa-shopping-cart home-menu-item-icon"></i>
        </a>
      </li>
      <li class="home-menu-item">
        <a class="home-menu-link" href="{% url 'view_documentation' %}">
          <span class="home-menu-text home-menu-text-hide">Dev Doc</span>
          <i class="fas fa-code home-menu-item-icon"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="container-fluid main-content mt-5 mt-md-0">
    {% if messages %}
    <div class="row mb-3">
      <div class="col-12 col-sm-9 text-center">
        <div class='alert alert-dark alert-dismissible fade show'>
          {% for message in messages %}
            <h4>{{ message }}</h4>
          {% endfor %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    {% endif %}
    {% block content %}{% endblock %}
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="{% static 'scripts/ui.js' %}"></script>
  {% block stripe_js %}{% endblock %}
  {% block chart_js %}{% endblock %}
</body>
</html>
